customtkinter
beautifulsoup4
requests
tenacity
tkinter
google_search_results
pandas
certifi
python-dotenv
soupsieve
typing-extensions
idna
charset-normalizer
urllib3
packaging
darkdetect
rapidfuzz
fpdf2
